<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <app-header [ngClass]="headerClass ? 'header-sticky':''"></app-header>


      <!-- breadcrumb start -->
      <div class="breadcrumb-area pt-240 pb-125" style="background-image:url(assets/img/bg/breadcrumb.jpg);" data-overlay="5">
          <div class="container">
              <div class="breadcrumb-text text-center z-index">
                  <h2>gallery</h2>
              </div>
          </div>
      </div>
      <!-- breadcrumb end -->
          <!-- volunter start -->
          <div class="volunter-area pt-120 pb-120">
              <div class="container">
                  <div class="section-title text-center mb-75">
                      <h2>Trust Gallery</h2>
                      <p class="section-2">There are many variations of azer duskam of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                  </div>
                  <div class="row">
                      <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="gallery-img mb-30">
                              <a href="#">
                                  <img src="assets/img/gallery/1.jpg" alt="">
                              </a>
                              <div class="gallery-icon">
                                  <a class="img-popup" href="assets/img/gallery/1.jpg" data-popup="popup">
                                      <img src="assets/img/icon-img/8.png" alt="">
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="gallery-img mb-30">
                              <a href="#">
                                  <img src="assets/img/gallery/2.jpg" alt="">
                              </a>
                              <div class="gallery-icon">
                                  <a class="img-popup" href="assets/img/gallery/2.jpg" data-popup="popup">
                                      <img src="assets/img/icon-img/8.png" alt="">
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="gallery-img mb-30">
                              <a href="#">
                                  <img src="assets/img/gallery/3.jpg" alt="">
                              </a>
                              <div class="gallery-icon">
                                  <a class="img-popup" href="assets/img/gallery/3.jpg" data-popup="popup">
                                      <img src="assets/img/icon-img/8.png" alt="">
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="gallery-img mb-30">
                              <a href="#">
                                  <img src="assets/img/gallery/4.jpg" alt="">
                              </a>
                              <div class="gallery-icon">
                                  <a class="img-popup" href="assets/img/gallery/4.jpg" data-popup="popup">
                                      <img src="assets/img/icon-img/8.png" alt="">
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="gallery-img mb-30">
                              <a href="#">
                                  <img src="assets/img/gallery/5.jpg" alt="">
                              </a>
                              <div class="gallery-icon">
                                  <a class="img-popup" href="assets/img/gallery/5.jpg" data-popup="popup">
                                      <img src="assets/img/icon-img/8.png" alt="">
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="gallery-img mb-30">
                              <a href="#">
                                  <img src="assets/img/gallery/6.jpg" alt="">
                              </a>
                              <div class="gallery-icon">
                                  <a class="img-popup" href="assets/img/gallery/6.jpg" data-popup="popup">
                                      <img src="assets/img/icon-img/8.png" alt="">
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="gallery-img mb-30">
                              <a href="#">
                                  <img src="assets/img/gallery/1.jpg" alt="">
                              </a>
                              <div class="gallery-icon">
                                  <a class="img-popup" href="assets/img/gallery/1.jpg" data-popup="popup">
                                      <img src="assets/img/icon-img/8.png" alt="">
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="gallery-img mb-30">
                              <a href="#">
                                  <img src="assets/img/gallery/2.jpg" alt="">
                              </a>
                              <div class="gallery-icon">
                                  <a class="img-popup" href="assets/img/gallery/2.jpg" data-popup="popup">
                                      <img src="assets/img/icon-img/8.png" alt="">
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="gallery-img mb-30">
                              <a href="#">
                                  <img src="assets/img/gallery/3.jpg" alt="">
                              </a>
                              <div class="gallery-icon">
                                  <a class="img-popup" href="assets/img/gallery/3.jpg" data-popup="popup">
                                      <img src="assets/img/icon-img/8.png" alt="">
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12 text-center">
                          <div class="page-pagintion mt-20">
                              <ul>
                                  <li>
                                      <a href="#">01</a>
                                  </li>
                                  <li class="active">
                                      <a href="#">02</a>
                                  </li>
                                  <li>
                                      <a href="#">03</a>
                                  </li>
                                  <li>
                                      <a href="#">04</a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- volunter end -->
           


<app-footer></app-footer>
</ion-content>