

  
  <!--HEADER START-->
  <header id="header_2">
      <!--kode navigation start-->
      <div class="kode_navigation">
          <div id="mobile-header">
              <a id="responsive-menu-button" href="#sidr-main"><i class="fa fa-bars"></i></a>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-md-2">
                      <div class="logo_wrap">
                          <a href="#"><img src="../../assets/extra-images/logo_2.png" alt=""></a>
                      </div>
                  </div>
                  <div class="col-md-10">
                      <!--kode nav_2 start-->
                      <div class="nav_2" id="navigation">
                          <ul>
                              <li><a [routerLink]="'/dashboard'">Dashboard</a></li>
                              <li><a [routerLink]="'/banner-list'">Banner</a></li>
                              <li><a [routerLink]="'/about-us'">About Us</a></li>
                              <li><a [routerLink]="'/event-list'">Event</a>
                              </li>
                              <li><a [routerLink]="'/blog-list'">Blog</a>
                              </li>
                              <li><a [routerLink]="'/course-list'">Course</a>
                              </li>
                              <li><a [routerLink]="'/teachers-list'">Teacher</a>
                              </li>
                              <li><a [routerLink]="'/gallery'">Gallery</a>
                              </li>
                              <li><a [routerLink]="'/contact-us'">Contact US</a>
                              </li>
                              <!-- <li><a id="simple-menu" href="#sidr"><i class="fa fa-bars"></i></a></li>  -->
                          </ul>
                      </div>
                      <!--kode nav_2 end-->
                  </div>
              </div>
          </div>
      </div>
      <!--kode navigation end-->
  </header>
  <!--HEADER END-->