<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <app-header [ngClass]="headerClass ? 'header-sticky':''"></app-header>

  <div class="container">
    <div class="modal-dialogs">
      <!-- <button type="button" class="close" ><span aria-hidden="true">&times;</span></button> -->
        <div class="modal-contents">
          <!--SIGNIN AS USER START-->
            <div class="user-box">
              <h2>Sign up as a User</h2>
                <!--FORM FIELD START-->
                <form #register="ngForm" (ngSubmit)="submitRegister(register)">

                  <div class="fieldrow">
                    <ion-radio-group [allowEmptySelection]="true" [(ngModel)]="userType" name="userType" #un="ngModel">
                      <ul class="form_radio"  style="display: flex; gap: 15px; text-align: center; justify-content: center;">
                        <li><ion-radio  value="admin"></ion-radio>Admin</li>
                        <li><ion-radio  value="user"></ion-radio>User</li>
                      </ul>
                    </ion-radio-group>
                    <span class="input_err " *ngIf="un.errors && (un.dirty || un.touched || register.submitted)">This filed
                      is required</span>
                  </div>


                <div class="form">
                    <div class="input-container">
                        <input type="text" placeholder="Name"  name="uname" [(ngModel)]="uname" #cunm="ngModel" required autocomplete="off">
                        <span class="input_err"
                        *ngIf="cunm.errors && (cunm.dirty || cunm.touched || register.submitted)">
                        Please Enter this field</span>
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="input-container">
                        <input type="text" placeholder="E-mail" name="email" [(ngModel)]="email" #cEmail="ngModel"
                pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" required autocomplete="off">
                <span class="input_err"
                *ngIf="cEmail.errors && (cEmail.dirty || cEmail.touched || register.submitted)">
                Please Enter Email</span>
                <i class="fa fa-envelope-o"></i>

                    </div>
                    <div class="input-container">
                        <input type="password" placeholder="Password"
                        name="password" [(ngModel)]="password" #cpass="ngModel" required autocomplete="off">
                        <span class="input_err"
                        *ngIf="cpass.errors && (cpass.dirty || cpass.touched || register.submitted)">
                        Please Enter Password</span>
                        <i class="fa fa-unlock"></i>
                    </div>

                    <div class="input-container">
                      <input type="password" placeholder="Confirm Password"
                      name="cPass" [(ngModel)]="cPass" #cCpass="ngModel" required autocomplete="off">
                      <span class="input_err"
                      *ngIf="cCpass.errors && (cCpass.dirty || cCpass.touched || register.submitted)">
                      Please Enter Confirm Password</span>
                      <i class="fa fa-unlock"></i>
                  </div>
                    <div class="input-container">
                        <label>
                            <span class="radio">
                                <input type="checkbox" name="foo" value="1" checked>
                                <span class="radio-value" aria-hidden="true"></span>
                            </span>
                            <span>Remember me</span>
                        </label>
                    </div>
                    <div class="input-container">
                        <button class="btn-style">Sign Up</button>
                    </div>
                </div>
              </form>
                <!--FORM FIELD END-->
                <!--OPTION START-->
                <div class="option">
                    <h5>Or Using</h5>
                </div>
                <!--OPTION END-->
                <!--OPTION START-->
                <div class="social-login">
                    <a href="#" class="google"><i class="fa fa-google-plus"></i>Google Account</a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i>Facebook Account</a>
                </div>
                <!--OPTION END-->
            </div>
            <!--SIGNIN AS USER END-->
            <div class="user-box-footer">
                Already have an account? <a [routerLink]="'/login'">Sign In</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

</ion-content>