<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <app-header [ngClass]="headerClass ? 'header-sticky':''"></app-header>

          <!-- breadcrumb start -->
          <div class="breadcrumb-area pt-240 pb-125" style="background-image:url(assets/img/bg/breadcrumb.jpg);" data-overlay="5">
              <div class="container">
                  <div class="breadcrumb-text text-center z-index">
                      <h2>Contact</h2>
                  </div>
              </div>
          </div>
          <!-- breadcrumb end -->
          <!-- volunter start -->
          <div class="become-volunter-area gray-bg ptb-100">
              <div class="container">
                  <div class="section-title text-center mb-75">
                      <h2>Quick Contact</h2>
                      <p class="section-2">There are many variations of azer duskam of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                  </div>
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="contact-title-form">
                              <div class="contact-title text-center">
                                  <h3>Contact Form</h3>
                              </div>
                              <div class="leave-form">
                                  <form id="contact-form" action="https://htmldemo.net/trust/trust/assets/mail.php" method="post">
                                      <div class="row">
                                          <div class="col-lg-6">
                                              <input name="name" placeholder="Name" type="text">
                                          </div>
                                          <div class="col-lg-6">
                                              <input name="email" placeholder="Email" type="email">
                                          </div>
                                          <div class="col-lg-12">
                                              <textarea name="message" placeholder="Message"></textarea>
                                          </div>
                                          <div class="col-lg-12 text-center">
                                              <button class="submit" type="submit">
                                                  Send Now
                                              </button>
                                          </div>
                                      </div>
                                  </form>
                                  <p class="form-messege"></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="map-title text-center">
                              <h3>Contact Info</h3>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4">
                          <div class="eventpage-info contactpage-info ">
                              <div class="single-event-info">
                                  <h4>Phone</h4>
                                  <ul>
                                      <li>+012345678</li>
                                      <li>+012345678</li>
                                  </ul>
                              </div>
                              <div class="single-event-info">
                                  <h4>Email</h4>
                                  <ul>
                                      <li><a href="#">info@gmail.com</a></li>
                                      <li><a href="#">example@gmail.com</a></li>
                                  </ul>
                              </div>
                              <div class="single-event-info">
                                  <h4>Our Location</h4>
                                  <ul>
                                      <li>Add Your</li>
                                      <li>Address, Here</li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                          <div id="hastech2"></div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- volunter end -->
        
        
         
      


<app-footer></app-footer>
</ion-content>